In [ ]:
from google.colab import drive
drive.mount('/content/mount')

Mounted at /content/mount

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('/content/mount/MyDrive/practise_csv/chevrolet_cars.csv')

In [ ]:
df

,title,price,year,description,region
0,Chevrolet Damas,10 700 у.е.\n,\n ...,\n Benz...,Olmaliq
1,Chevrolet Equinox,41 000 у.е.\n,\n ...,\n Benz...,Farg'ona
2,"Chevrolet Lacetti, 1 pozitsiya",12 000 у.е.\n,\n ...,\n 1.8 ...,Toshkent
3,"Chevrolet Lacetti, 3 pozitsiya",9 200 у.е.\n,\n ...,\n 1.8 ...,Samarqand
4,"Chevrolet Spark, 2 pozitsiya EVRO",11 500 у.е.\n,\n ...,\n 1.3 ...,Toshkent
...,...,...,...,...,...
19995,"Chevrolet Tracker, 1 pozitsiya",19 500 у.е.\n,\n ...,\n Benz...,Samarqand
19996,"Chevrolet Cobalt, 2 pozitsiya",7 800 у.е.\n,\n ...,\n 1.5 ...,Samarqand
19997,"Chevrolet Lacetti, 1 pozitsiya",9 000 у.е.\n,\n ...,\n 1.8 ...,Toshkent
19998,"Chevrolet Gentra, 3 pozitsiya",14 500 у.е.\n,\n ...,\n 1.6 ...,Toshkent
19999,"Chevrolet Cobalt, 4 pozitsiya",15 700 у.е.\n,\n ...,\n 1.5 ...,Samarqand

In [ ]:
copied_df = df

In [ ]:
copied_df['price'] = copied_df['price'].apply(lambda x: ''.join(x.split()[:2] ) if isinstance(x, str) else x)

In [ ]:
copied_df['price'] = copied_df['price'].apply(lambda x: x[1:] if '~' in x else x)

In [ ]:
copied_df

,title,price,year,description,region
0,Chevrolet Damas,10700,\n ...,\n Benz...,Olmaliq
1,Chevrolet Equinox,41000,\n ...,\n Benz...,Farg'ona
2,"Chevrolet Lacetti, 1 pozitsiya",12000,\n ...,\n 1.8 ...,Toshkent
3,"Chevrolet Lacetti, 3 pozitsiya",9200,\n ...,\n 1.8 ...,Samarqand
4,"Chevrolet Spark, 2 pozitsiya EVRO",11500,\n ...,\n 1.3 ...,Toshkent
...,...,...,...,...,...
19995,"Chevrolet Tracker, 1 pozitsiya",19500,\n ...,\n Benz...,Samarqand
19996,"Chevrolet Cobalt, 2 pozitsiya",7800,\n ...,\n 1.5 ...,Samarqand
19997,"Chevrolet Lacetti, 1 pozitsiya",9000,\n ...,\n 1.8 ...,Toshkent
19998,"Chevrolet Gentra, 3 pozitsiya",14500,\n ...,\n 1.6 ...,Toshkent
19999,"Chevrolet Cobalt, 4 pozitsiya",15700,\n ...,\n 1.5 ...,Samarqand

In [ ]:
copied_df['year'] = copied_df['year'].apply(lambda x: x.split()[0] if isinstance(x, str) else x)

In [ ]:
copied_df

,title,price,year,description,region
0,Chevrolet Damas,10700,2023,\n Benz...,Olmaliq
1,Chevrolet Equinox,41000,2023,\n Benz...,Farg'ona
2,"Chevrolet Lacetti, 1 pozitsiya",12000,2014,\n 1.8 ...,Toshkent
3,"Chevrolet Lacetti, 3 pozitsiya",9200,2010,\n 1.8 ...,Samarqand
4,"Chevrolet Spark, 2 pozitsiya EVRO",11500,2021,\n 1.3 ...,Toshkent
...,...,...,...,...,...
19995,"Chevrolet Tracker, 1 pozitsiya",19500,2019,\n Benz...,Samarqand
19996,"Chevrolet Cobalt, 2 pozitsiya",7800,2014,\n 1.5 ...,Samarqand
19997,"Chevrolet Lacetti, 1 pozitsiya",9000,2011,\n 1.8 ...,Toshkent
19998,"Chevrolet Gentra, 3 pozitsiya",14500,2017,\n 1.6 ...,Toshkent
19999,"Chevrolet Cobalt, 4 pozitsiya",15700,2022,\n 1.5 ...,Samarqand

In [ ]:
copied_df['type'] = 'Chevrolet'

In [ ]:
copied_df

,title,price,year,description,region,type
0,Chevrolet Damas,10700,2023,\n Benz...,Olmaliq,Chevrolet
1,Chevrolet Equinox,41000,2023,\n Benz...,Farg'ona,Chevrolet
2,"Chevrolet Lacetti, 1 pozitsiya",12000,2014,\n 1.8 ...,Toshkent,Chevrolet
3,"Chevrolet Lacetti, 3 pozitsiya",9200,2010,\n 1.8 ...,Samarqand,Chevrolet
4,"Chevrolet Spark, 2 pozitsiya EVRO",11500,2021,\n 1.3 ...,Toshkent,Chevrolet
...,...,...,...,...,...,...
19995,"Chevrolet Tracker, 1 pozitsiya",19500,2019,\n Benz...,Samarqand,Chevrolet
19996,"Chevrolet Cobalt, 2 pozitsiya",7800,2014,\n 1.5 ...,Samarqand,Chevrolet
19997,"Chevrolet Lacetti, 1 pozitsiya",9000,2011,\n 1.8 ...,Toshkent,Chevrolet
19998,"Chevrolet Gentra, 3 pozitsiya",14500,2017,\n 1.6 ...,Toshkent,Chevrolet
19999,"Chevrolet Cobalt, 4 pozitsiya",15700,2022,\n 1.5 ...,Samarqand,Chevrolet

In [ ]:
def get_pozitsiya(name):
  name_list = name.split()
  if 'pozitsiya' in name_list:
    numbers = [val for val in name_list if val.isdigit()]
    if len(numbers) != 0:
      return numbers[-1]
    return 1
  return 1

In [ ]:
copied_df['pozitsiya'] = copied_df['title'].apply(get_pozitsiya)

In [ ]:
copied_df

,title,price,year,description,region,type,pozitsiya
0,Chevrolet Damas,10700,2023,\n Benz...,Olmaliq,Chevrolet,1
1,Chevrolet Equinox,41000,2023,\n Benz...,Farg'ona,Chevrolet,1
2,"Chevrolet Lacetti, 1 pozitsiya",12000,2014,\n 1.8 ...,Toshkent,Chevrolet,1
3,"Chevrolet Lacetti, 3 pozitsiya",9200,2010,\n 1.8 ...,Samarqand,Chevrolet,3
4,"Chevrolet Spark, 2 pozitsiya EVRO",11500,2021,\n 1.3 ...,Toshkent,Chevrolet,2
...,...,...,...,...,...,...,...
19995,"Chevrolet Tracker, 1 pozitsiya",19500,2019,\n Benz...,Samarqand,Chevrolet,1
19996,"Chevrolet Cobalt, 2 pozitsiya",7800,2014,\n 1.5 ...,Samarqand,Chevrolet,2
19997,"Chevrolet Lacetti, 1 pozitsiya",9000,2011,\n 1.8 ...,Toshkent,Chevrolet,1
19998,"Chevrolet Gentra, 3 pozitsiya",14500,2017,\n 1.6 ...,Toshkent,Chevrolet,3
19999,"Chevrolet Cobalt, 4 pozitsiya",15700,2022,\n 1.5 ...,Samarqand,Chevrolet,4

In [ ]:
def get_name(title):
  title_list = title.split()
  if 'Chevrolet' in title_list:
    title_list.remove('Chevrolet')
  if 'pozitsiya' in title_list:
    numbers = [val for val in title_list if val.isdigit()]
    if len(numbers) != 0:
      title_list.remove(numbers[-1])
    title_list.remove('pozitsiya')
  if 'DOHC' in title_list:
    title_list.remove('DOHC')
  if 'EVRO' in title_list:
    title_list.remove('EVRO')
  if 'SOHC' in title_list:
    title_list.remove('SOHC')
  if 'Gaz-benzin' in title_list:
    title_list.remove('Gaz-benzin')
  if len(title_list) != 0:
    return ''.join(title_list)
  print(title_list)
  return ''

In [ ]:
copied_df['name'] = copied_df['title'].apply(get_name)

[]

In [ ]:
copied_df

,title,price,year,description,region,type,pozitsiya,name
0,Chevrolet Damas,10700,2023,\n Benz...,Olmaliq,Chevrolet,1,Damas
1,Chevrolet Equinox,41000,2023,\n Benz...,Farg'ona,Chevrolet,1,Equinox
2,"Chevrolet Lacetti, 1 pozitsiya",12000,2014,\n 1.8 ...,Toshkent,Chevrolet,1,"Lacetti,"
3,"Chevrolet Lacetti, 3 pozitsiya",9200,2010,\n 1.8 ...,Samarqand,Chevrolet,3,"Lacetti,"
4,"Chevrolet Spark, 2 pozitsiya EVRO",11500,2021,\n 1.3 ...,Toshkent,Chevrolet,2,"Spark,"
...,...,...,...,...,...,...,...,...
19995,"Chevrolet Tracker, 1 pozitsiya",19500,2019,\n Benz...,Samarqand,Chevrolet,1,"Tracker,"
19996,"Chevrolet Cobalt, 2 pozitsiya",7800,2014,\n 1.5 ...,Samarqand,Chevrolet,2,"Cobalt,"
19997,"Chevrolet Lacetti, 1 pozitsiya",9000,2011,\n 1.8 ...,Toshkent,Chevrolet,1,"Lacetti,"
19998,"Chevrolet Gentra, 3 pozitsiya",14500,2017,\n 1.6 ...,Toshkent,Chevrolet,3,"Gentra,"
19999,"Chevrolet Cobalt, 4 pozitsiya",15700,2022,\n 1.5 ...,Samarqand,Chevrolet,4,"Cobalt,"

In [ ]:
copied_df['name'] = copied_df['name'].apply(lambda x: x.replace(',', ''))

In [ ]:
copied_df['description']

0        \n                                        Benz...
1        \n                                        Benz...
2        \n                                        1.8 ...
3        \n                                        1.8 ...
4        \n                                        1.3 ...
                               ...
19995    \n                                        Benz...
19996    \n                                        1.5 ...
19997    \n                                        1.8 ...
19998    \n                                        1.6 ...
19999    \n                                        1.5 ...
Name: description, Length: 20000, dtype: object

In [ ]:
def is_float(s):
    try:
        float(s)
        return True
    except ValueError:
        return False

In [ ]:
x = "1.5 l, Benzin, Qora, Sedan, Uzatish qutisi Avtomat, Yengil qotishmali disklar, Lyuk, Yukxona, Ksenon, Tashqi chiroq pr…"
y = x.split()
if 'Uzatish' in y and 'qutisi' in y:
  ind = y.index('qutisi')
  print(y[ind+1])

Avtomat,

In [ ]:
def get_transmission(description):
  description_list = description.split()
  if 'Uzatish' in description_list and 'qutisi' in description_list:
    return description_list[description_list.index('qutisi') + 1]
  return 'Mexanika'

In [ ]:
copied_df['engine_size'] = copied_df['description'].apply(lambda x: x.split()[0] if is_float(x.split()[0]) else 0)

In [ ]:
copied_df

,title,price,year,description,region,type,pozitsiya,name,engine_size
0,Chevrolet Damas,10700,2023,\n Benz...,Olmaliq,Chevrolet,1,Damas,0
1,Chevrolet Equinox,41000,2023,\n Benz...,Farg'ona,Chevrolet,1,Equinox,0
2,"Chevrolet Lacetti, 1 pozitsiya",12000,2014,\n 1.8 ...,Toshkent,Chevrolet,1,Lacetti,1.8
3,"Chevrolet Lacetti, 3 pozitsiya",9200,2010,\n 1.8 ...,Samarqand,Chevrolet,3,Lacetti,1.8
4,"Chevrolet Spark, 2 pozitsiya EVRO",11500,2021,\n 1.3 ...,Toshkent,Chevrolet,2,Spark,1.3
...,...,...,...,...,...,...,...,...,...
19995,"Chevrolet Tracker, 1 pozitsiya",19500,2019,\n Benz...,Samarqand,Chevrolet,1,Tracker,0
19996,"Chevrolet Cobalt, 2 pozitsiya",7800,2014,\n 1.5 ...,Samarqand,Chevrolet,2,Cobalt,1.5
19997,"Chevrolet Lacetti, 1 pozitsiya",9000,2011,\n 1.8 ...,Toshkent,Chevrolet,1,Lacetti,1.8
19998,"Chevrolet Gentra, 3 pozitsiya",14500,2017,\n 1.6 ...,Toshkent,Chevrolet,3,Gentra,1.6
19999,"Chevrolet Cobalt, 4 pozitsiya",15700,2022,\n 1.5 ...,Samarqand,Chevrolet,4,Cobalt,1.5

In [ ]:
copied_df['transmission'] = copied_df['description'].apply(get_transmission)

In [ ]:
copied_df

,title,price,year,description,region,type,pozitsiya,name,engine_size,transmission
0,Chevrolet Damas,10700,2023,\n Benz...,Olmaliq,Chevrolet,1,Damas,0,Mexanika
1,Chevrolet Equinox,41000,2023,\n Benz...,Farg'ona,Chevrolet,1,Equinox,0,Mexanika
2,"Chevrolet Lacetti, 1 pozitsiya",12000,2014,\n 1.8 ...,Toshkent,Chevrolet,1,Lacetti,1.8,"Avtomat,"
3,"Chevrolet Lacetti, 3 pozitsiya",9200,2010,\n 1.8 ...,Samarqand,Chevrolet,3,Lacetti,1.8,"Avtomat,"
4,"Chevrolet Spark, 2 pozitsiya EVRO",11500,2021,\n 1.3 ...,Toshkent,Chevrolet,2,Spark,1.3,"Mexanika,"
...,...,...,...,...,...,...,...,...,...,...
19995,"Chevrolet Tracker, 1 pozitsiya",19500,2019,\n Benz...,Samarqand,Chevrolet,1,Tracker,0,Mexanika
19996,"Chevrolet Cobalt, 2 pozitsiya",7800,2014,\n 1.5 ...,Samarqand,Chevrolet,2,Cobalt,1.5,"Mexanika,"
19997,"Chevrolet Lacetti, 1 pozitsiya",9000,2011,\n 1.8 ...,Toshkent,Chevrolet,1,Lacetti,1.8,"Mexanika,"
19998,"Chevrolet Gentra, 3 pozitsiya",14500,2017,\n 1.6 ...,Toshkent,Chevrolet,3,Gentra,1.6,"Avtomat,"
19999,"Chevrolet Cobalt, 4 pozitsiya",15700,2022,\n 1.5 ...,Samarqand,Chevrolet,4,Cobalt,1.5,"Avtomat,"

In [ ]:
copied_df['transmission'] = copied_df['transmission'].apply(lambda x: x.replace(',', '') if isinstance(x, str)  else x)

In [ ]:
copied_df

,title,price,year,description,region,type,pozitsiya,name,engine_size,transmission
0,Chevrolet Damas,10700,2023,\n Benz...,Olmaliq,Chevrolet,1,Damas,0,Mexanika
1,Chevrolet Equinox,41000,2023,\n Benz...,Farg'ona,Chevrolet,1,Equinox,0,Mexanika
2,"Chevrolet Lacetti, 1 pozitsiya",12000,2014,\n 1.8 ...,Toshkent,Chevrolet,1,Lacetti,1.8,Avtomat
3,"Chevrolet Lacetti, 3 pozitsiya",9200,2010,\n 1.8 ...,Samarqand,Chevrolet,3,Lacetti,1.8,Avtomat
4,"Chevrolet Spark, 2 pozitsiya EVRO",11500,2021,\n 1.3 ...,Toshkent,Chevrolet,2,Spark,1.3,Mexanika
...,...,...,...,...,...,...,...,...,...,...
19995,"Chevrolet Tracker, 1 pozitsiya",19500,2019,\n Benz...,Samarqand,Chevrolet,1,Tracker,0,Mexanika
19996,"Chevrolet Cobalt, 2 pozitsiya",7800,2014,\n 1.5 ...,Samarqand,Chevrolet,2,Cobalt,1.5,Mexanika
19997,"Chevrolet Lacetti, 1 pozitsiya",9000,2011,\n 1.8 ...,Toshkent,Chevrolet,1,Lacetti,1.8,Mexanika
19998,"Chevrolet Gentra, 3 pozitsiya",14500,2017,\n 1.6 ...,Toshkent,Chevrolet,3,Gentra,1.6,Avtomat
19999,"Chevrolet Cobalt, 4 pozitsiya",15700,2022,\n 1.5 ...,Samarqand,Chevrolet,4,Cobalt,1.5,Avtomat

In [ ]:
def get_fuel_type(text):
  text_list = [i.replace(',', '') for i in text.split() if i]
  if 'Benzin' in text_list:
    return 'Benzin'
  if 'Gaz-benzin' in text_list:
    return 'Gaz-benzin'
  if 'Gaz-Benzin' in text_list:
    return 'Gaz-benzin'
  if 'Elektr' in text_list:
    return 'Elektr'

In [ ]:
copied_df['fuel_type'] = copied_df['description'].apply(get_fuel_type)

In [ ]:
copied_df

,title,price,year,description,region,type,pozitsiya,name,engine_size,transmission,fuel_type
0,Chevrolet Damas,10700,2023,\n Benz...,Olmaliq,Chevrolet,1,Damas,0,Mexanika,Benzin
1,Chevrolet Equinox,41000,2023,\n Benz...,Farg'ona,Chevrolet,1,Equinox,0,Mexanika,Benzin
2,"Chevrolet Lacetti, 1 pozitsiya",12000,2014,\n 1.8 ...,Toshkent,Chevrolet,1,Lacetti,1.8,Avtomat,Benzin
3,"Chevrolet Lacetti, 3 pozitsiya",9200,2010,\n 1.8 ...,Samarqand,Chevrolet,3,Lacetti,1.8,Avtomat,Benzin
4,"Chevrolet Spark, 2 pozitsiya EVRO",11500,2021,\n 1.3 ...,Toshkent,Chevrolet,2,Spark,1.3,Mexanika,Benzin
...,...,...,...,...,...,...,...,...,...,...,...
19995,"Chevrolet Tracker, 1 pozitsiya",19500,2019,\n Benz...,Samarqand,Chevrolet,1,Tracker,0,Mexanika,Benzin
19996,"Chevrolet Cobalt, 2 pozitsiya",7800,2014,\n 1.5 ...,Samarqand,Chevrolet,2,Cobalt,1.5,Mexanika,Benzin
19997,"Chevrolet Lacetti, 1 pozitsiya",9000,2011,\n 1.8 ...,Toshkent,Chevrolet,1,Lacetti,1.8,Mexanika,Benzin
19998,"Chevrolet Gentra, 3 pozitsiya",14500,2017,\n 1.6 ...,Toshkent,Chevrolet,3,Gentra,1.6,Avtomat,Benzin
19999,"Chevrolet Cobalt, 4 pozitsiya",15700,2022,\n 1.5 ...,Samarqand,Chevrolet,4,Cobalt,1.5,Avtomat,Benzin

In [ ]:
copied_df.drop(df.columns[[0, 3]], axis=1, inplace=True)

In [ ]:
copied_df

,price,year,region,type,pozitsiya,name,engine_size,transmission,fuel_type
0,10700,2023,Olmaliq,Chevrolet,1,Damas,0,Mexanika,Benzin
1,41000,2023,Farg'ona,Chevrolet,1,Equinox,0,Mexanika,Benzin
2,12000,2014,Toshkent,Chevrolet,1,Lacetti,1.8,Avtomat,Benzin
3,9200,2010,Samarqand,Chevrolet,3,Lacetti,1.8,Avtomat,Benzin
4,11500,2021,Toshkent,Chevrolet,2,Spark,1.3,Mexanika,Benzin
...,...,...,...,...,...,...,...,...,...
19995,19500,2019,Samarqand,Chevrolet,1,Tracker,0,Mexanika,Benzin
19996,7800,2014,Samarqand,Chevrolet,2,Cobalt,1.5,Mexanika,Benzin
19997,9000,2011,Toshkent,Chevrolet,1,Lacetti,1.8,Mexanika,Benzin
19998,14500,2017,Toshkent,Chevrolet,3,Gentra,1.6,Avtomat,Benzin
19999,15700,2022,Samarqand,Chevrolet,4,Cobalt,1.5,Avtomat,Benzin

In [ ]:
copied_df = copied_df.iloc[:, [5,1,3,4,8, 7, 6, 2, 0]]

In [ ]:
copied_df.head()

,name,year,type,pozitsiya,fuel_type,transmission,engine_size,region,price
0,Damas,2023,Chevrolet,1,Benzin,Mexanika,0,Olmaliq,10700
1,Equinox,2023,Chevrolet,1,Benzin,Mexanika,0,Farg'ona,41000
2,Lacetti,2014,Chevrolet,1,Benzin,Avtomat,1.8,Toshkent,12000
3,Lacetti,2010,Chevrolet,3,Benzin,Avtomat,1.8,Samarqand,9200
4,Spark,2021,Chevrolet,2,Benzin,Mexanika,1.3,Toshkent,11500

In [ ]:
copied_df.to_csv('cleaned_chevrolet_cars.csv',index = False)